<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <title>{% block title %}{% endblock title %}</title>

        {% load static %}

        <!-- CSS -->
        {% block css %}{% endblock css %}

        <!-- JavaScript libraries -->
        {% block javascript %}{% endblock javascript %}

    </head>
    <body>
        
        {% block container %}{% endblock container %}

        {% block javascript_bottom %}
        {% endblock javascript_bottom %}
    </body>
</html>