{% extends "base.html" %}

{% block title %}関心事の詳細{% endblock title %}

{% block container %}

    <div>
        <svg id="svgArea" style="width:300px;height:200px;border:1px solid lightgray;"></svg>
    </div>

    <div>
        <ul>
            <!-- ※非効率なクエリが発行されることに注意 -->
            {% for node in concern.node_set.all %}
                <li>{{ node.content }}</li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <a href="{% url 'graph:concern-edit' concern.id %}">編集</a>
    </div>

{% endblock container %}