{% extends "base.html" %}

{% block title %}関心事の詳細{% endblock title %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/concerns/bootstrap.css.map' %}">
    <link rel="stylesheet" href="{% static 'css/concerns/bootstrap.min.css' %}">
{% endblock css %}

{% block javascript %}
    {% load static %}
    <script src="{% static 'js/concerns/jquery-3.3.1.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/concerns/popper.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/concerns/bootstrap.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/concerns/d3.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/concerns/force.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/concerns/force-concern.js' %}" type="text/javascript"></script>
{% endblock javascript %}

{% block container %}

    <div>
        <svg id="svgArea" style="width:690px;height:300px;border:1px solid lightgray;"></svg>
        <input type="hidden" id="id_concern" value="{{ concern.id }}" />
    </div>

    <div>
        <table>
            <thead>
                <tr>
                    <th>ノード</th>
                    <th>このノードに接続する</th>
                    <th>このノードから接続する</th>
                </tr>
            </thead>
            <tbody>
                <!-- ※非効率なクエリが発行されることに注意 -->
                {% for node in concern.node_set.all %}
                    <tr>
                        <td>
                            <a href="{% url 'graph:node-edit' concern.id node.id %}">{{ node.content }}</a>
                        </td>
                        <td>
                            <a href="{% url 'graph:node-new-source' concern.id node.id %}">このノードに接続する</a>
                        </td>
                        <td>
                            <a href="{% url 'graph:node-new-target' concern.id node.id %}">このノードから接続する</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <a href="{% url 'graph:node-new' concern.id %}">ノードの追加</a>
        <a href="{% url 'graph:concern-edit' concern.id %}">編集</a>
    </div>

    <div class="modal fade" id="mdddl" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                
                <div class="modal-body"></div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                </div>

            </div>
        </div>
    </div>

{% endblock container %}

{% block javascript_bottom %}
    {% load static %}
    <script src="{% static 'js/concerns/concern_detail.js' %}" type="text/javascript"></script>
{% endblock javascript_bottom %}