{% extends "base.html" %}

{% block title %}関心事の詳細{% endblock title %}

{% block container %}

    <div>
        <svg id="svgArea" style="width:300px;height:200px;border:1px solid lightgray;"></svg>
    </div>

    <div>
        <table>
            <thead>
                <tr>
                    <th>ノード</th>
                    <th>このノードに接続する</th>
                    <th>このノードから接続する</th>
                </tr>
            </thead>
            <tbody>
                <!-- ※非効率なクエリが発行されることに注意 -->
                {% for node in concern.node_set.all %}
                    <tr>
                        <td>
                            <a href="{% url 'graph:node-edit' concern.id node.id %}">{{ node.content }}</a>
                        </td>
                        <td>
                            <a href="{% url 'graph:node-new-source' concern.id node.id %}">このノードに接続する</a>
                        </td>
                        <td>
                            <a href="{% url 'graph:node-new-target' concern.id node.id %}">このノードから接続する</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <a href="{% url 'graph:node-new' concern.id %}">ノードの追加</a>
        <a href="{% url 'graph:concern-edit' concern.id %}">編集</a>
    </div>

{% endblock container %}